setuptools<70.0.0
huggingface_hub
SoccerNet
numpy
opencv-python
librosa
opencv-python
pandas
tqdm
decord
matplotlib
moviepy
tensorboard
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
transformers==4.44.0
av
einops
timm